.previewList {
  height: 945px;
  width: 24%;
  font-family: Rubik;
  background-color: #eee34a;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.03);
}
.previewCard {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: right;
  font-size: 0.75em;
  height: 20vh;
  width: 100%;
}

.companyContainer {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.companyLine {
  width: 70%;
  font-size: 1.2em;
}
.logoContainer {
  display: flex;
  width: 30%;
}

.logo {
  width: 1.5em;
  background-repeat: no-repeat;
}

.logo:hover {
  transform: scale(130%);
}

.statusContainer {
  display: flex;
  justify-content: flex-end;
}

.statusUpdate {
  background-color: rgb(250, 243, 207);
  height: 4vh;
  width: fit-content;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 15px;
  color: rgb(204, 175, 95);
  font-size: 1em;
  margin-right: 1;
  text-align: center;
}

.statusUpDateGreen {
  background-color: rgb(250, 243, 207);
  height: 4vh;
  width: fit-content;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 15px;
  color: green;
  font-size: 1em;
  margin-right: 1;
  text-align: center;
}

.statusUpDateGray {
  background-color: rgb(250, 243, 207);
  height: 4vh;
  width: fit-content;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 15px;
  color: grey;
  font-size: 1em;
  margin-right: 1;
  text-align: center;
}

#candidate_ditels {
  padding-bottom: 2%;
  padding-right: 2%;
}