@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.table {
  /* height: 819px; */
  width: 90%;
  border-collapse: collapse;
  margin-top: 3%;
  margin-right: 3%;
  overflow: hidden;
  overflow-y: scroll;
  cursor: pointer;
}

.table td {
  height: 40px
  }
.num{
   width: 10%;

}
.des{
   width: 40%;
   padding-right: 8px;
}
.tit{
width: 15%;
padding-right: 8px;
}
.titles{
    height: 20px;
    width: 1088.34px;
    color: rgba(0,0,0,0.6);
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
  }
  .numberLine{
  text-align: center;

}
button{
  border: none;
  background-color: white
}

.tableBoundries {
  /* box-sizing: border-box; */
  height: 1px;
  /* width: 1160px; */
  border: 1px solid #E0E0E0;
  font-size: 10px;
  font-family: Rubik;
}
.hover:hover{
  background-color: #ddd;
}
.line {
  height: 20px;
  width: 100%;
}

.position {
  height: 20px;
  width: 136px;
  color: #000000;
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: right;
}

.positionDescription {
  height: 20px;
  width: 297px;
  color: #000000;
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: right;
}

.expandMoreIcon {
  font-size: 0.75rem !important;
} 