.JobCard {
  text-align: right;

  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 2%;
  flex: 0 16%;
  height: 20%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.25);
}

.company {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 24px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-title {
  /* height: 26px; */
  overflow: hidden;
  width: 80%;
  height: 20%;
  opacity: 0.6;
  color: #000000;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0.56px;
  line-height: 26px;
  text-align: right;
  /* white-space: nowrap; */
  margin-top: 0px;
}

/* @media (max-width: 920px) {
  .Product-product-card {
    flex: 1 21%;
  }
  .product-card:first-child,
  .product-card:nth-child(2) {
    flex: 2 46%;
  }
} */
.main-job-card {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  /* font-size: 20px; */
}

/* Creating a custom checkbox
      based on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid orange;
  border-radius: 40%;
}

/* Specify the background color to be
      shown when hovering over checkbox */
.main-job-card:hover input ~ .geekmark {
  background-color: orange;
}

/* Specify the background color to be
      shown when checkbox is checked */
.main-job-card input:checked ~ .geekmark {
  background-color: white;
  border: 2px solid orange;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main-job-card input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
      showing only two border to make it look
      like a tickmark */
.main-job-card .geekmark:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid orange;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
