@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* .searchInput {
    display: flex;
  } */
  .searchIcon {
 height: 70%;
    margin-top: 0.5%;
 
  }
  .send-bar-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 10%;
      text-align: center;
      height:50%;
    color: rgba(0,0,0,0.87);
    align-items: center;
    font-size: 12px;
    border-radius: 30px;
    border: 2px solid #dfe1e5;
    box-shadow: 5px 5px 50px rgb(0, 0, 0, 0.1); 
    margin-right: 3%;
  }

  .send-bar-main{
      justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    height: 10vh;
    text-align: center;
    align-items: center;
    position: absolute;
   bottom: 0;
   background-color:  rgba(255, 247, 247, 0.87);

  }
.send-input-box{
  display: flex;
  flex-direction: row;
  width: 20%;
  height:60%;
  justify-content: space-around;
 
}


.btn-div{
  width: 30%;
  height: 50%;
  display: flex;
    flex-direction:row;
    justify-content: space-around;
  align-items: center;
}
.searchBox{
  width: 85%;
  height: 100%;
  font-family: Rubik;
  text-align: right;
  border: none;
  outline: none;
  margin-left: 3%;
  border-radius:15px;
}
.send-position-btn{
  width: 50%;
      height:100%;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 7px 7px 7px rgb(0, 0, 0, 0.3);
    background-color: rgba(255, 210, 0, 0.8);
}
.send-position-btn:hover{
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
  background-color: rgba(255, 210, 0, 0.6);
  
}

.span-num-of-choices{
  /* color: red;
  color: green; */
}
  