.details-text {
  height: 20%;
  width: 100%;
  background-color: rgb(248, 248, 248);
}
.space-between {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
  padding: 10px 10px;
  /* padding-right: 2%; */
}
.details_component {
  padding-bottom: 5%;
}
#details_space_between {
  justify-content: left;
}