@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

 .rectangle-main-pop-up-card-background {
    width: 800px;
    height: 1900px;
    background-color: rgba(74,74,74,0.6);
  } 
  .card-bg-main-pop-up-card-field {
    height: 515px;
    width: 1058px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 60px 0 rgba(0,0,0,0.03);
    margin-left: -13%;
    margin-top: 2%;
    margin-bottom: 80px;
   padding-top: 4%;
   position: fixed;
  }
  .rectangle-copy-12-last-input-field {
  box-sizing: border-box;
  height: 182px;
  width: 961px;
  border: 1px solid rgba(74,74,74,0.38);
  border-radius: 24px;
  background-color: #FFFFFF;
}
.rectangle-copy-10-three-first-input-fields {
    box-sizing: border-box;
    height: 49px;
    width: 960.7px;
    border: 1px solid rgba(74,74,74,0.38);
    border-radius: 24px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
  }

  .text-fields-pop-up-text {
    height: 445px;
    width: 964.4px;
    margin-top: 108px;
    margin-bottom: 60px;
    margin-right: 60px;
    margin-left: 55.6px;
  }
  /* .text-field-1-button-secondary- {
    padding:0.5px 0.5px 0.5px 0.5px;
    height: 48px;
    width: 959.7px;
   
  } */
  /* .text-field-2 {
    height: 112px;
    width: 959.7px;
   
    
  } */

  .text-field-3-last-input- {
    height: 181px;
    width: 960px;
  }
  .titleNewPosition {
    margin-bottom: -108px;
    height: 24px;
    width: 180px;
    color: #000000;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 24px;
    text-align: right;
    margin-right: 60px;
    margin-left: 840px;
  }
  .all-input-field-styling {
    height: 16px;
    border-radius: 24px;
    width: 878.7px;
    color: rgba(0,0,0,0.6);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: right;
    border: none;
    padding-top:15px;   
    outline: none;    
    margin-left: 54px;      
    position: absolute;  
  }
  .send-pop-up-Form-buttons-new-position{
    height: 48px;
    width: 229.84px;
    display:inline-flex;
    margin-top: 20px;
  }
  .ic-one-tone-interface-delete-c-pop-up {
    height: 17.42px;
    width: 16.5px;
  }
  /* .button-icon-primary-enabled-bu-pop-up {
    height: 48px;
    width: 106.75px;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.05);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
  } */
  .elements-text-text-icon-right- {
    height: 28px;
    width: 106.75px;
    
  }
  .elements-text-center {
    height: 28px;
    width: 29px;
    color: rgba(0,0,0,0.87);
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
  }
  .button-icon-primary-enabled {
    height: 48px;
    width: 129px;
  }
  .elements-text-text-icon-left-2 {
    height: 28px;
    width: 129px;
  }
  .closeIcon-div-position{
    padding-right: 50px;
    margin-top: 80px;
    margin-inline-start: 50px;
    margin-bottom: -90px;
  }
  .closeIcon{
      border: none;
      outline: none;
      background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
  }
  .bg-pop-up-publish-button {
    height: 48px;
    width: 120px;
    border-radius: 24px;
    background-color: #FFD200;
    border: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    font-family: Rubik;
    cursor:pointer;

  }
  .bg-pop-up-cancel-button {
    height: 48px;
    width: 120px;
    border-radius: 24px;
    background-color:none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    font-family: Rubik;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
  }
  .elements-text-center {
    height: 28px;
    width: 40px;
    color: rgba(0,0,0,0.87);
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
  }
  
  /* .elements-cards-open-jobs-ic {
    height: 23.04px;
    width: 22.91px;
  } */
  /* .div-create-new-position-container {
  display: flex;
  flex-direction: column;
  height: 1080px;
  width: 613px;
  border: 1px solid black;
  border-radius: 20px;
  font-family: "Rubik";
  font-weight: regular;
  font-size: 1rem;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 15%;
  right: 15%;
}
.div-create-new-position-title {
  height: 24px;
  width: 180px;
  color: #000000;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 24px;
  text-align: right;
} */
/* .div-create-new-position-form {
} */
/* 
.form-create-new-position {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* .div-create-new-position-buttons {
} */
/* .input-create-new-position {
  box-sizing: border-box;
  height: 49px;
  width: 960.7px;
  border: 1px solid rgba(74, 74, 74, 0.38);
  border-radius: 24px;
  background-color: #ffffff;
  margin-top: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: right;
} */