/* @media (max-width: 920px) {
  .AllJobCards-AllJobCards {
    flex: 2 46%;
  }
} */

.AllJobCards-AllJobCards {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: flex-end;
  padding-right: 5%;
}

.AllJobCards-AllJobCards::-webkit-scrollbar{
  display: none;
  
} 