.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 210, 0);
  height: 80px;
  align-content: center;
  margin-top: -20px;
}
.div-header-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.5rem;
  height: 2.5rem;
  margin-top: 30px;
  width: auto;
  align-content: center;
}

.div-login-button{
  border: 1px solid black;
  border-radius: 25px;
  height: 2.2rem;
  width: auto;
  display: flex;
  text-decoration: none;
  align-items: center;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.div-login-button:hover {
  color: white;
  border: 1px solid white;
}

.div-no-account{
  padding: 0.5rem;
  height: 1.5rem;
  /* margin-top: 0rem; */
}

.div-header-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
  margin: 2.5rem;
}
.div-logo {
  margin: 1.5rem;
}
.div-middle-button {
  margin-right: 2rem;
  padding-bottom: 1.5rem;
}
.div-middle-button:hover,
.div-ein-hechbon:hover {
  color: white;
  border-bottom: 3px solid white;
}
