
.bg {
 width:100%;
 height:100%;
  /* background-color: rgba(224, 224, 224, 0.17); */
}

.line {
  /* box-sizing: border-box;
  height: 100vh;
  width: 2px;
  border: 1px solid #e0e0e0; */
}

.elements-side-menu-tab-enabled {
  display: flex;
  flex-direction: column;
  height: 48px;
  width: 100%;
  
}


.elements-side-menu-tab-enabled:hover {
  background-color: rgba(255, 210, 0, 0.17);
}

.nav-links-labels {
  height: 20px;
justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: right;
  margin-left: 25px;
  margin-bottom: 14px;
  padding: 12px;
  font-size: 14px;
  margin-right: 12px;
  text-decoration: none;
}

.rF{
display: flex;
flex-direction: column;

}
.navbar-main-container{
 display: flex;
  flex-direction: column;  
 align-items:left;
   margin-left: auto;
  background-color: rgba(255, 210, 0, 0.17);
  height:91vh;
  width: 15%;
}
