@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.side-card {
  width: 24%;
  height: 80%;
  font-family: Rubik;
  background-color: white;
  box-shadow: 15px 0 10px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 20%;
}
.icon-button {
  margin-top: 5%;
  border: none;
  outline: none;
  background: none;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;
  width: 100%;
}
.line {
  width: 85%;
  height: 1px;
  border-bottom: 1px solid gray;
  margin-left: 7.5%;
}
/* .hr-line {
  width: 85%;
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
  margin-left: 7.5%;
} */
.open-down {
  border: none;
  outline: none;
  background: none;
}
.title {
  margin-top: 4%;
  font-weight: bold;
  justify-content: center;
}
.details {
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4%;
  padding-right: 2%;
}

.main-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 85vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  background-color: rgba(131, 150, 151, 0.5);
}

.tittle_bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6%;
  padding-top: 6%;
  padding-right: 2%;
}

.button_bar {
  position: absolute;
  left: 1%;
}