.container {
  width: 100%;
  height: 100%;
  /* width: 1658px; */
  display: flex;
  background-color:rgba(175, 182, 73, 0.9)
}

.people-img-container {
  width: 55%;
}

.form-container{
width: 100%;
display: flex;
flex-direction: column;
align-items:center;
}

#img {
  height: 90vh;
  width: 55vw;
}
.div2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.856);
}


.inputs {
  height: 112px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.username {
  border-radius: 24px;
  text-align: right;
  height: 48px;
  width: 40%;
  box-shadow: 0 2px 16px 0 rgba(74, 74, 74, 0.05);
  margin-bottom: 10px;
  border: none;
  padding-right: 5%;
}
.password {
  border-radius: 24px;
  text-align: right;
  height: 48px;
  width: 40%;
  box-shadow: 0 2px 16px 0 rgba(74, 74, 74, 0.05);
  margin-bottom: 10px;
  border: none;
  padding-right: 5%;
}

.btn-google {
  box-sizing: border-box;
  height: 48px;
  width: 140.5px;
  border: 1px solid #ffd200;
  border-radius: 24px;
  padding-top: 10px;
  text-align:center;
}

.button-login {
  height: 15%;
  width: 45%;
  border-radius: 24px;
  background-color: rgba(255, 210, 0, 0.6);
  cursor: pointer;
  /* margin-top: 3%; */
  
}

.elements-text-center {
  height: 28px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-align: center;
}

.header {
  height: 160px;
  width: 350px;
  color: #ffd200;
  font-family: Rubik;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.83px;
  line-height: 80px;
  text-align: center;
}

.header2 {
  height: 28px;
  width: 267px;
  color: #4a4a4a;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin-left: 40px;
  margin-top: -20px;
}

.header3 {
  height: 20px;
  width: 150px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: center;

}

.forget-password {
  
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
 
}
.question{
display: flex;
justify-content: space-between;
width: 40%;
margin-top: 1%;
}
.check-for-remember{
display: flex;
flex-direction: row;
cursor: pointer;
}
.login-chack-box{
  visibility: shown!important;
  color: white;
  background-color: white;

}

.remember {
  /* height: 16px;
  width: 123px; */
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
  /* margin-top: -30px; */
}
